body{
    font-family:monospace,sans-serif;
}
.title-icon{
    font-size: 5vw;
    font-weight:bold
}

#about{
    
    margin: 60px auto;
    max-width: 400px;
    text-align: center;
}
.img{
    border-radius:100%;
    width:180px ;
    margin-bottom: 10px;
}
.name{
    font-size: 20px;
    
}
.vocation{
    font-size:17px;
    color:rgb(103, 98, 98);
    margin-bottom:10px ;
    
}
.skills{
  font-size: 14px;  
  color:rgb(5, 158, 158);
  margin-bottom:10px;
}
.email{
    margin-top:14px ;
    font-size: 13px;
    font-weight: bold;
}
.icon{
    margin-top: 20px;
    font-size: 30px;
}